xml_xsd_assignments/ps12_shop_inventory/inventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Inventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProductID" type="xs:integer"/>
              <xs:element name="Name">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[a-zA-Z0-9 -]+"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Category">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Electronics"/>
                    <xs:enumeration value="Clothing"/>
                    <xs:enumeration value="Food"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Stock">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Price" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
