xml_xsd_assignments/ps15_flight_schedule/flights.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Flight" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FlightNumber" type="xs:string"/>
              <xs:element name="Airline" type="xs:string"/>
              <xs:element name="Source" type="xs:string"/>
              <xs:element name="Destination" type="xs:string"/>
              <xs:element name="DepartureTime">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ArrivalTime">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Seats" type="xs:integer"/>
              <xs:element name="Status">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="On-Time"/>
                    <xs:enumeration value="Delayed"/>
                    <xs:enumeration value="Cancelled"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
