xml_xsd_assignments/ps14_exam_results/results.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Results">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Student" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RollNo" type="xs:integer"/>
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="Subject">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Math"/>
                    <xs:enumeration value="Science"/>
                    <xs:enumeration value="English"/>
                    <xs:enumeration value="History"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="MarksObtained">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Grade">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="A"/>
                    <xs:enumeration value="B"/>
                    <xs:enumeration value="C"/>
                    <xs:enumeration value="D"/>
                    <xs:enumeration value="F"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
